@(version: String = "5.2", experimental: Boolean = false)

<!-- including AUI version @version -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/@version/css/aui.css" media="all">
<!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/@version/css/aui-ie.css" media="all"><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/@version/css/aui-ie9.css" media="all"><![endif]-->
@if(experimental) {<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/@version/css/aui-experimental.css" media="all">}